<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rolldice</title>
  </head>
  <body>
    <h1>This is Rolldice section</h1>
    <h3>get Random dice number: <%= num %></h3>

    <% if(num == 6){ %>
    <h1>nice! you can again roll dice</h1>
    <% } else { %>
    <h1>Other player roll dice</h1>
    <% } %>
  </body>
</html>
