<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>show page</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Here is your user name id details post</h1>
    <p>post_id <%= post.id %></p>
    <div class="main">
      <h3 class="post"><%= post.username %></h3>
      <h4 class="content"><%= post.content %></h4>
    </div>
  </body>
</html>
